/* specific to this site */

:root
{
    
    /* colors */
    --color-black: #000;
    --color-gray-dark: #222;
    --color-green-forest: #070;
    --color-purple: #4b0082;
    --color-green-terminal: #0f0;
    --color-white: #fff;
    
    --color-accent: var(--color-purple);
    --color-shade-foreground: var(--color-white);
    --color-shade-background: var(--color-gray-dark);
    --color-shade-well: var(--color-black);
    --color-theme: var(--color-green-forest);
    --color-theme-highlight: var(--color-green-terminal);
    
    /* font sizes */
    --smaller: 10pt;
    --small: 12pt;
    --medium: 16pt;
    --large: 20pt;
    --x-large: 24pt;
    --xx-large: 32pt;

    /* Internet Explorer compatibility hacks */
    --display-none: none;
    --display-block: block;
}

a
{
    color: #0f0;
    color: var(--color-theme-highlight);
    text-decoration: none;
}

a:hover { text-decoration: underline; }

a code
{
    color: #0f0;
    color: var(--color-theme-highlight);
}

blockquote
{
    border-left-color: var(--color-theme-highlight);
    border-left-style: solid;
    margin-left: 2ex;
    padding-left: 2ex;
}

code
{
    background-color: #000;
    background-color: var(--color-shade-well);
    border-radius: 2pt;
    color: #fff;
    color: var(--color-shade-foreground);
    display: inline-block;
    font-family: "DejaVu Sans Mono";
    font-size: var(--medium);
    padding-left: 4pt;
    padding-right: 4pt;
}


h1 a
{
    color: #000;
    color: var(--color-shade-well);
}

h2 { font-size: var(--x-large); }

h2, h3, h4
{
    color: #0f0;
    color: var(--color-theme-highlight);
}

h2 a::after, h3 a::after, h4 a::after { content:" 🔗"; }

h3 { font-size: var(--large); }

h4
{
    font-size: var(--medium);
    font-style: italic;
}

li
{
    color: #fff;
    color: var(--color-shade-foreground);
}

ol { padding-bottom: 2ex; }

p
{
    color: #fff;
    color: var(--color-shade-foreground);
    font-size: var(--medium);
    /* scroll overflow in case there is something (like a long class name in
     * an inline code element, for example) that would otherwise foul up the
     * width for the whole page. */
    overflow: scroll; 
    padding-bottom: 1ex;
    padding-top: 1ex;
}

pre { overflow-x: auto; }

time
{
    font-size: var(--medium);
    font-style: italic;
}

/* archive posts list */
.archive-postlist {
  list-style: none;
  padding: 0;
}

.archive-postlist-date
{
    color: #fff;
    color: var(--color-shade-foreground);
}

.archive-postlist-item {
  counter-increment: start-from -1;
}
.archive-postlist-item:before {
    display: inline;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
}

.article-time
{
    color: #fff;
    color: var(--color-shade-foreground);
    display: block;
    text-align: right;
}

.demo
{
    background-color: #000;
    background-color: var(--color-shade-well);
    border-radius: 2pt;
    margin: 2em;
    padding: 1em;
}

.div-browser-warning
{
    background-color: #FF8C00;
    color: #000;
    display: block;
    display: var(--display-none);
    padding: 5pt;
}

.div-menu-wrapper { display: flex; }

.div-post ul
{
    padding-bottom: 2ex;
}

.container
{
    background-color: #222;
    background-color: var(--color-shade-background);
    display: flex;
    flex-direction: column;
    font-size: var(--medium);
    height: 100vh;
    overflow: auto;
}

.footer
{
    background-color: #070;
    background-color: var(--color-theme);
    box-shadow: 0 0 15px #000; 
    box-shadow: 0 0 15px var(--color-shade-well); 
    display: none;
    display: var(--display-block);
    z-index: 2;
}

.footer-a
{
    color: #fff;
    color: var(--color-shade-foreground);
    display: inline-block;
    font-size: var(--medium);
    padding-right: 1em;
}

.header
{
    background-color: #070;
    background-color: var(--color-theme);
    box-shadow: 0 0 15px #000; 
    box-shadow: 0 0 15px var(--color-shade-well);
    color: #fff;
    color: var(--color-shade-foreground);
    z-index: 2;
}

.highlight { overflow-x: auto; }

.hr-spacer
{
    border-style: none;
    height: 2.5ex;
}

.h1 { font-size: var(--x-large); }

.h2-postlist
{
    display:inline;
    font-size: var(--large);
}

.icon
{
    border-radius: 50%;
    max-height: 3em;
}

.icon-menu
{
    color: #0f0;
    color: var(--color-theme-highlight);
    font-size: var(--xx-large);
}

.img { max-width: 100%; }

.index-h2
{
    font-size: var(--x-large);
    padding-top: 1ex;
}

.main { flex: 1; }

.menu-content
{
    background-color: #222;
    background-color: var(--color-shade-background);
    right: 1px;
}

.nav ul { list-style: none; }

.nav-item { font-size: var(--medium); }

.nav-item-active a
{
    color: #fff;
    color: var(--color-shade-foreground);
}

.nav-tags
{
    flex: 1;
    margin-bottom: auto;
    margin-top: auto;
    overflow: auto;
    padding: 5px;
    scrollbar-base-color: #000;
    scrollbar-color: #444 #000;
    scrollbar-face-color: #444;
    white-space: nowrap;
}

.nav-tags::-webkit-scrollbar
{
    background-color: #444;
}

.nav-tags::-webkit-scrollbar-thumb
{
    background-color: #444;
}

.nav-tags::-webkit-scrollbar-track-piece
{
    background-color: #000;
}

.p-browser-warning
{
    color: #000;
}

.p-browser-warning a
{
    color: #000;
    text-decoration: underline;
}

.post-tag {
  display: inline-block;
  font-size: var(--smaller);
  margin-bottom: 4px;
  margin-top: 0px;
  padding: 5pt;
  background-color: #4b0082;
  background-color: var(--color-accent);
  color: #fff;
  color: var(--color-shade-foreground);
  border-radius: 0.25em; 
  text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-date
{
    color: #fff;
    color: var(--color-shade-foreground);
}

.postlist-item {
  counter-increment: start-from -1;
} 

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

.ul-posts
{
    list-style-type: none;
    padding-left: 0;
}

.ul-posts p
{
    color: #fff;
    color: var(--color-shade-foreground);
    display: inline; /*I am going to regret this.*/
}

.ul-posts li { padding-bottom: 2ex; }
