@font-face
{
    font-display: swap;
    font-family:Hyperlegible;
    font-style: normal;
    font-weight: normal;
    src:url("WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2")
}

@font-face
{
    font-display: swap;
    font-family:Hyperlegible;
    font-style: normal;
    font-weight: bold;
    src:url("WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2")
}

@font-face
{
    font-display: swap;
    font-family:Hyperlegible;
    font-style: italic;
    font-weight: bold;
    src:url("WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
}

@font-face
{
    font-display: swap;
    font-family:Hyperlegible;
    font-style: italic;
    font-weight: normal;
    src:url("WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2")
}
