<!doctype html>
<html lang="en">
    <head>
        {%- if canonical -%}
            <link rel="canonical"
                  href="https://webbureaucrat.dev/{{canonical}}/{{page.fileSlug}}/"
            />
        {%-endif-%}
        <link rel="icon" href="/img/icons/192.png" type="image/png" />
        <link rel="manifest" href="/manifest.json" />
        <link as="font" href="/css/fonts/DejaVuSansMono-webfont.woff"
              rel="preload" type="font/woff" />
        <link href="{{ '/css/prism-base16-monokai.dark.css' | url }}"
              rel="stylesheet" />
        <link href="/css/default.css"
              rel="stylesheet" />
        <link rel="stylesheet" href="/css/util.css" />
        <link rel="stylesheet" href="/css/menu.css" />
        <link rel="stylesheet"
              href="/css/fonts/atkinson-hyperlegible/atkinson-hyperlegible.css"
              />
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="alternate" href="{{ metadata.feed.path | url }}"
              type="application/atom+xml"
              title="{{ metadata.title }}">
        <meta charset="utf-8">
        <meta name="theme-color" content="#007700" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title }}</title>
        <meta name="Description"
              content="{{ renderData.description or description or metadata.description }}">
        <script src="/scripts/sw-loader/lib/es6_global/src/SWLoader.res.js"
                type="module"></script>
    </head>
    <body>
        <div class="container">
            <div class="div-browser-warning">
                <p class="p-browser-warning">Welcome! We notice you're
                    using an outdated browser, which
                    will result in a degraded experience on this site. Please
                    consider
                    <a href="https://www.mozilla.org/en-US/firefox/new/">a
                        modern, fully supported browser.</a>
                </p>
            </div>
            <header class="flex-row header padded">
                <div class="flex-1 flex-column">
                    <h1 class="h1"><a href="/">{{ metadata.title }}</a></h1>
                    <p class="subtitle"> {{ metadata.description }}</p>
                </div>
            </header>
            <div class="div-menu-wrapper">
                <nav class="nav-tags">
                    {% for tag in collections.tagList %}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}"
                           class="post-tag">{{ tag }}</a>
                    {% endfor %}

                </nav>
                <nav class="menu padded">
                    <span class="icon-menu">&#9776;<!--Results in ☰--></span>
                    <ul class="menu-content ul-no-bullet">
                        {%- for entry in collections.all | eleventyNavigation %}
                            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                            </li>
                        {%- endfor %}
                        <li class="nav-item">
                            <a href="https://gitlab.com/webbureaucrat/webbureaucrat.gitlab.io"
                               rel="noopener"
                               target="_blank">Source</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            <main class="main padded">
                {{ content | safe }}
            </main>
            
            <footer class="footer padded">
                <a class="footer-a"
                   href="/feed/feed.xml"
                   rel="noopener"
                   target="_blank">📡 RSS
                    Feed</a>
                <a class="footer-a"
                   href="https://gitlab.com/eleanorofs/"
                   rel="noopener"
                   target="_blank">🦊 GitLab</a>
                <a class="footer-a"
                   rel="noopener"
                   target="_blank"
                   href="https://dev.to/webbureaucrat">💻 DEV.to</a>
                <a class="footer-a"
                   rel="noopener"
                   target="_blank"
                   href="https://webbureaucrat.hashnode.dev/">🟦 Hashnode</a>
                <a class="footer-a"
                   rel="me"
                   rel="noopener"
                   target="_blank"
                   href="https://floss.social/@webbureaucrat">🐘 Mastodon</a>
                <a class="footer-a"
                   rel="noopener"
                   target="_blank"
                   href="https://www.linkedin.com/in/eleanorholley/">💼
                    LinkedIn</a>
            </footer>
            
            <!-- Current page: {{ page.url | url }} -->
        </div>
    </body>
</html>
