---
layout: layouts/base
templateClass: tmpl-post
---
{%- if date -%}
<time class="article-time" datetime="{{ date | htmlDateString }}">
  {{ date | htmlDateString }}
</time>
{%- endif -%}
<h2>{{ title | toHTML | safe}}</h2>
{% for tag in tags %}
    {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endif -%}
{% endfor %}

<div class="div-post">
    {{ content | safe }}
    <p class="center"><em>I write to learn, so I welcome your constructive criticism. <a href="https://gitlab.com/webbureaucrat/webbureaucrat.gitlab.io/-/issues" rel="noopener" target="_blank">Report issues on GitLab.</a>
    </em>
    </p>
</div>

<div class="flex-row">
    {% set previous = collections.posts | getPreviousCollectionItem(page) %}
    {% if previous %}
        <a class="flex-1"
           href="{{ previous.url }}">← {{ previous.data.title }}</a>
    {% endif %}

    {% set next = collections.posts | getNextCollectionItem(page) %}
    {% if next %}
        <a class="align-right flex-1"
           href="{{ next.url }}">{{ next.data.title }} → </a>
    {% endif %}
</div>
<p><a href="{{ '/' | url }}">← Home</a></p>
