---
layout: layouts/home
permalink: /articles/
eleventyNavigation:
  key: Archive
  order: 200
---

<h2>Archive</h2>

<ol reversed class="archive-postlist"
    style="counter-reset: start-from {{ (collections.posts.length) + 1 }}">
    {% for post in collections.posts | reverse %}
    <li class="archive-postlist-item">
        <h2 class="h2-postlist">
            <a href="{{ post.url | url }}">
                {% if post.data.title %}{{ post.data.title | toHTML | safe}}
                {% else %}<code>{{ post.url }}</code>
                {% endif %}
            </a>
        </h2>
        <time class="archive-postlist-date"
              datetime="{{ post.date | htmlDateString }}">
            {{ post.date | htmlDateString }}
        </time>
        {% for tag in post.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
        {%- if post.data.page.excerpt -%}
            <p>{{ post.data.page.excerpt | toHTML | safe}}</p>
        {%- endif -%}
    </li>
    {% endfor %}
</ol>


