---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 100
---

<h2 class="index-h2">Latest Articles</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.html" %}

<p>
    More articles can be found in
    <a href="{{ '/articles/' | url }}">
    the
    archive</a>.
</p>

{% for tag in collections | byImportance | head(5) %}
    <h2 class="index-h2">Tagged “{{ tag }}”</h2>

    {% set postslist = collections[ tag ] | head(-4) %}
    {% set postslistCounter = collections[ tag ] | length %}
    {% include "postslist.html" %}

{% endfor %}
